.ck-editor__editable_inline {
    min-height: 500px;
}

.ck-editor__editable_inline h2 {
    font-size: 3rem !important;
}
.ck-editor__editable_inline h3 {
    font-size: 2rem !important;
}
.ck-editor__editable_inline h4 {
    font-size: 1.5rem !important;
}

.ck-editor__editable_inline ul {
    list-style-type: disc !important;
}
.ck-editor__editable_inline ol {
    list-style-type: decimal !important;
}
.ck-editor__editable_inline ul,
.ck-editor__editable_inline ol {
    margin-left: 1rem !important;
}
